<!DOCTYPE html><html><head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/katex.min.css') }}">
    
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/849ddf9236.js" crossorigin="anonymous"></script>
    
    
    
    
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    
  
  </head>
  <body for="html-export">
    
  
<div class="mume markdown-preview" id="main">
      <div class="title">
        <h1>標註</h1>
      </div>
    
    <h1 class="mume-header" >照片</h1>

  <div style="left: auto;">
  
  </div>
  <div class="container">  
    <img src="" alt="" id="ini_fig">
  </div>

  <div class="container">
    <div class="btn" id="getfig" style="background-color: rgb(0, 0, 0);">新圖</div>
    <div class="btn" id="previous" style="background-color: red;">上一個</div>
    <div class="btn" id="next" style="background-color: blue;">下一個</div>
    <div class="btn" id="check" style="background-color: green;">Check</div>
</div>

<h1 class="mume-header" id="rt">標籤</h1>


<div class="container">
  <canvas id="myCanvas"></canvas>
</div>


<div class="container text-center">
  <label for="label">
    <input autocomplete="off" id="thisLabel" class="text-center" autofocus placeholder="牙位">
    <button id='submitBtn'>SUBMIT</button>
  </label>
</div>

  
 
  
  
  
  
  
</div>
  <script src="{{ url_for('static',filename='js/label/main.js') }}"></script>
  
  
  </body></html>
  
